/* 
====== 
Variables 
======
*/
:root {
  --lightBlue: #0065fe;
  --darkerBlue: #005ae2;
  --black: #141414;
  --white: #fff;
  /* --lightPink: #1E1E1E; */
}

/* 
====== 
Global Styles 
======
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  overflow-x: hidden;
  /* transition: all 0.5s ease-in-out; */
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
}

h1,
h2 {
  font-family: "Gilroy-Bold", sans-serif;
}

h3,
h4 {
  font-family: "Gilroy-Medium", sans-serif;
}

ul {
  list-style: none;
}

p {
  font-family: "Gilroy Medium" sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.dark {
  color: var(--black);
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 142px;
  height: 40px;
  border: none;
  color: var(--white);
  font-size: 16px;
  font-family: " Gilroy-SemiBold", sans-serif;
  border-radius: 25px;
  background-color: var(--lightBlue);
  padding: 12px, 24px;
  cursor: pointer;
  text-transform: capitalize;
}

.btn-blue {
  color: var(--white);
  background-color: var(--lightBlue);
}

.btn-blue:hover {
  color: var(--lightBlue);
  background-color: var(--white);
}

.btn-darkblue {
  color: var(--white);
  background-color: var(--darkerBlue);
}

.btn-darkblue:hover {
  color: var(--darkerBlue);
  background-color: var(--white);
}

.btn-white {
  color: var(--darkerBlue);
  background-color: var(--white);
  border: 1px solid var(--darkerBlue);
}

.btn-white:hover {
  color: var(--white);
  background-color: var(--darkerBlue);
}

/* Navbar */
.navbar {
  margin: 10px 5rem;
  max-width: 100vw;
  height: 50px;
  align-items: center;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container .logo {
  display: flex;
  align-items: center;
  height: 32px;
}

.nav-container .logo .logo-icon {
  display: flex;
  align-items: center;
}

.logo-icon .brand-logo {
  padding-right: 0.5rem;
}

.brand {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--lightBlue);
  padding-left: 0.5rem;
  border-left: 2px solid var(--darkerBlue);
}
.navigation ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: Gilroy-Medium;
}

.navigation ul li {
  cursor: pointer;
  margin: 0 0.5rem;
}

.dropdown-icon {
  width: 10px;
  cursor: pointer;
}

.navbar .nav-container .nav-actions {
  display: flex;
  align-items: center;
}

.nav-actions p {
  font-size: 18px;
}

.navbar .nav-container .nav-actions .try {
  margin-right: 1.5rem;
  font-size: 16px;
  font-weight: 400;
  color: var(--lightBlue);
}

/* Hero section  */
.hero-section {
  margin: 5rem;
  text-align: center;
}

.hero-section .hero1 {
  text-align: center;
  width: 100%;
}

.hero-section .hero1 h1 {
  display: flex;
  justify-content: center;
  line-height: 96px;
  font-size: 48px;
  text-transform: capitalize;
}
.blue-heading {
  color: var(--darkerBlue);
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  padding: 0 0.5rem;
  overflow: hidden;
}

.blue-heading .brush-underline {
  margin-top: -1.5rem;
  width: 40%;
}

.hero-section .hero1 .personalise {
  font-family: "Gilroy-Medium" sans-serif;
  text-align: center;
  line-height: 28px;
  font-size: 20px;
  margin: 1.8rem 0;
}

.hero-section .hero1 .personalise-buttons {
  margin: 1.5rem 0;
}

.hero-section .hero1 .personalise-buttons .learn-more {
  margin-left: 1.5rem;
  color: var(--lightBlue);
}

.hero-section .hero1 .links-image {
  margin: 3rem 0;
}

.links-image .chains {
  text-align: center;
  display: flex;
  justify-self: center;
  width: 768px;
  height: 224px;
  background-color: rgba(254, 254, 254, 0.1);
  border: 1px solid #005ae2;
  border-radius: 24px;

  background: linear-gradient(to right, rgba(0, 90, 226, 0.1), #fefefe);
  background-color: #fff;
  margin-top: 1rem;
  z-index: 5;
}

.linked-chains-background {
  z-index: 1;
  margin-right: -15rem;
}

.links-image .chains img {
  width: 60%;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

/* 
Features */
.analytic {
  background-color: #f9fbfd;
  margin-top: -0.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: calc(5rem + 12px);
  display: flex;
  color: var(--black);
}

.features {
  margin-left: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 3rem 0;
  display: flex;
  color: var(--black);
}

.analytic .heading,
.features .heading {
  width: 30%;
  margin-right: 6rem;
  line-height: 40px;
}

.analytic .heading h1,
.features .heading h1 {
  font-size: 30px;
}

.features .heading p {
  padding-left: 15px;
  font-size: 18px;
  width: 100%;
}

.blue {
  color: var(--darkerBlue);
}

.analytic .point-container {
  display: flex;
  width: 55%;
  justify-content: space-between;
}

.points h2 {
  margin-bottom: 0.5rem;
}

.features .heading .title {
  border-left: 5px solid;
  border-image: linear-gradient(to bottom, #112232 0%, #4d6b88 100%) 1;
  padding-left: 10px;
  margin-bottom: 20px;
}

.features .points-container {
  width: 55%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.features .points-container .points img {
  padding: 20px;
  background-color: rgba(50, 132, 255, 0.2);

  border-radius: 50%;
}

.features .points-container .points h2 {
  margin: 20px 0;
}

/* Pricing */
.pricing {
  margin: 3rem 5rem;
}

.pricing .pricing-container .heading h1 {
  border-left: 5px solid;
  border-image: linear-gradient(to bottom, #112232 0%, #4d6b88 100%) 1;
  font-size: 40px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.pricing .content {
  text-align: center;
  font-size: 18px;
}

.cards {
  display: flex;
  margin-top: 5rem;
  color: var(--black);
  height: auto;
  align-items: center;
}

.cards .card ul {
  list-style-position: inside;
}

.cards .card ul li {
  list-style-image: url("../assets/check-circle.svg");
  margin-bottom: 6px;
}

.card {
  border: 2px solid var(--lightBlue);
  padding: 2rem 3.5rem;
  display: flex;
  flex-direction: column;
  width: 379px;
  height: 455px;
}

.basic {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.teams {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card:hover {
  color: var(--white);
  border-radius: 8px;
  background: linear-gradient(to right, #1e3448 0%, #1e3448 100%);
  border: none;
  height: 627px;
  width: 410px;
  z-index: 2;
}

.cards .card h4 {
  font-size: 24px;
}

.cards .card h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 40px;
}

.pricing .cards .card p {
  font-size: 20px;
  margin-bottom: 1rem;
}

.pricing-points li {
  padding: 0.5rem 0;
}
.pricing-action-buttons {
  margin: 3rem;
}

.custom-pricing {
  font-size: 14px;
  margin-right: 15px;
}

/* analytics */

.analytics {
  position: relative;
  height: 500px;
  margin: 3rem 0;
  background: linear-gradient(to bottom, #1e3448 0%, #1e3448 100%);
}

.analytics-left-svg {
  position: absolute;
  top: 0;
  left: 0;
}

.analytics-right-svg {
  position: absolute;
  top: 0;
  right: 0;
}

.analytics-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.analytics-form-container form {
  z-index: 5;
  max-width: 500px;
  background-color: var(--white);
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  background-color: var(--white);
  border-radius: 12px;
  padding: 20px;
}

.analytics-form-container form input {
  background-color: var(--white);
  color: var(--lightBlue);
  border: 1px solid var(--lightBlue);
  border-radius: 5px;
  height: 3rem;
  border-radius: 8px;
  margin: 8px;
  padding: 8px;
}

.analytics-form-container form input:focus {
  border: 1px solid var(--black);
}

.url {
  width: 420px;
}
.domain {
  background-color: var(--white);
  color: var(--lightBlue);
  border: 1px solid var(--lightBlue);
  width: 220px;
  height: 3rem;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 5px;
  margin: 8px;
  padding: 8px 12px;
  cursor: pointer;
}

.trim-url {
  padding: 10px;
  cursor: pointer;
}

.trim-url p {
  margin-right: 10px;
}

.agreement {
  color: var(--lightBlue);
  margin: 8px;
}

.agreement-bold {
  font-weight: bold;
}

.analytics .analytics-form-container input::placeholder {
  color: var(--lightBlue);
  padding-left: 8px;
  transition: 2s;
}

.analytics .analytics-form-container input:focus::placeholder {
  transform: translate(0, -100%);
  font-size: 0.8em;
  opacity: 1;
}

/* FAQS */
.faq {
  position: relative;
  text-align: center;
  margin-top: 10px;
  overflow-y: hidden;
  padding-bottom: 85px;
}

.faq .title {
  border-left: 5px solid;
  border-image: linear-gradient(to bottom, #112232 0%, #4d6b88 100%) 1;
  padding-left: 10px;
  margin-bottom: 20px;
}

.faq-left-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 80%;
}

.faq-right-svg {
  position: absolute;
  bottom: 0;
  right: 0;
}

.faq-wrapper {
  width: 800px;
  text-align: start;
}

.accordion-item {
  height: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--black);
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 0;
  padding-right: 0;
}

.accordion-title img {
  margin-left: 20px;
}

.accordion-icon {
  text-align: end;
}

.revolutionalise {
  background: linear-gradient(to bottom, #1e3448 0%, #1e3448 100%);
  min-height: 400px;
  position: relative;
}

.revolutionalise-left-svg {
  position: absolute;
  top: 0;
  left: 0;
}

.revolutionalise-right-svg {
  position: absolute;
  bottom: 0;
  right: 0;
}

.revolutionalise-container button {
  margin-top: 20px;
}

.revolutionalise-container h2 {
  color: var(--white);
  margin-top: 30px;
  margin-bottom: 10px;
}

/* Footer */
.footer {
  width: 100vw;
  position: relative;
  margin-top: 10rem;
  padding-left: 10rem;
  padding-right: 3rem;
  margin-bottom: 0;
  background-image: url("../assets/footer-left-svg.svg");
  background-repeat: no-repeat;
}

.right-svg-image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer-container {
  width: 100%;
  margin-left: 2rem;
  align-items: center;
}

.footer-logo-icon {
  align-items: center;
}

.footer-logo-icon h2 {
  border-left: 3px solid;
  padding-left: 0.5rem;
}

.footer-brand-logo {
  color: var(--black);
  margin-right: 10px;
}

.footer-links {
  display: flex;
  align-items: center;
  align-items: start;
}

.footer-page-links-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  margin-left: 50px;
}

.socials {
  margin-top: 30px;
}
.socials img {
  width: 30px;
  height: 20px;
  margin-right: 5px;
}

.page-links {
  margin-left: 30px;
  text-align: start;
}
.page-links .link-title {
  margin-bottom: 10px;
}

.page-links a p {
  margin: 5px 0;
}

.footer-note {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
}

.footer-note > :nth-child(1),
.footer-note > :nth-child(2) {
  padding-right: 10px;
  border-right: 2px solid var(--black);
}

.footer-note p {
  margin-left: 5px;
}
.footer-note .brand-and-year {
  margin-left: 20px;
}
